/shelf/
/workspace.xml
.idea
.venv
.env
__pycache__
.vscode/
ml-service/logs
frontend/node_modules
ml-service/ffmpeg
ml-service/data/temp
ml-service/data/xmls
ml-service/data
frontend/node_modules
ML
